@{
    Layout = "~/Views/Shared/_Layout_2.cshtml";
    ViewBag.Title = "奖惩管理";/*刘文涵*/
}

<style>
    .layui-table-cell .layui-form-checkbox[lay-skin="primary"] {
        transform: translateY(20%);
    }
</style>
<div class="current-location">
    <span>当前位置：</span>
    <a><cite>系统管理</cite></a>
    | <a><cite>工资信息管理</cite></a>
    | <a><cite>奖惩工资</cite></a>
</div>
<div id="tablee" lay-filter="jsTable"></div>

<script type="text/html" id="topbar">

    <div class="layui-inline" id="searchKeywordf">
        <input type="text" autocomplete="off" id="keyword" placeholder="请输入工号..." class="layui-input">@*刘文涵*@
    </div>
    <button class="layui-btn" data-type="search" id="search" lay-event="search">
        <i class="layui-icon layui-icon-search"></i>查询
    </button>
    <button class="layui-btn" data-type="add" id="add" lay-event="add">
        <i class="layui-icon layui-icon-add-1"></i>添加
    </button>
    <button class="layui-btn" id="batchDel" lay-event="batchDel">
        <i class="layui-icon layui-icon-delete"></i>批量删除
    </button>
</script>
<script type="text/html" id="tbar">
    <a class="layui-btn layui-btn-xs" lay-event="Edit" title="编辑">
        <i class="layui-icon layui-icon-edit"></i>编辑
    </a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="Del" title="删除">
        <i class="layui-icon layui-icon-delete"></i>删除
    </a>
</script>

@*@Styles.Render("~/Content/css")*@
@section Scripts{
    <script type="text/javascript">

    layui.use(['table', 'layer'], function ()
    {
            var table = layui.table;
            var $ = layui.$;
            var layer = layui.layer
            table.render({
                elem: '#tablee'
                , height: 510
                , where: $("#keyword").val()
                , url: "@Url.Action("GetList")"//数据接口
                , toolbar: "#topbar"
                , page: true //开启分页
                , cols: [[
                    { type: "checkbox" },
                    { align: 'center', width: 80, templet: function (obj) {
                        return obj.LAY_INDEX;
                    }
                    },
                    { field: '编号', align: 'center',title: '编号', width: 150, sort: true, hide: true },@* 刘文涵 以下几个*@
                    //刘文涵
                    { field: '工号', align: 'center',title: '工号', width: 150, sort: true },
                    {
                        field: '日期', align: 'center',title: '日期', width: 200, sort: true,
                        templet: function (d) {
                            var val = d.日期;
                            var date = new Date(parseInt(val.replace("/Date(", "").replace(")/", ""), 10));
                            //月份为0-11，所以+1，月份小于10时补个0
                            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                            return date.getFullYear() + "-" + month + "-" + currentDate;
                        }
                    },
                    { field: '奖惩事由', align: 'center', title: '奖惩事由', width: 200, sort: true },
                    { field: '奖惩金额', title: '奖惩金额', align: 'center',width: 300, sort: true },
                    { title: '操作', fixed: 'right', width: 200, align: 'center', toolbar: '#tbar' }

                ]]
            });
        table.on("toolbar(jsTable)", function (obj)
            {
            switch (obj.event) {
                case 'search':
                    table.reload("tablee", {
                        page: { curr: 1 },
                        where: { keyword: $('#keyword').val() }
                    }, 'data');
                    break;
                case 'add':
                    layer.open({
                        type: 2,
                        content: '@Url.Action("PrizeDetail")', //刘文涵
                        title: "新增",
                        area: ["700px", "450px"],
                        end: function () { // layui 关闭弹框时的回调函数
                            $("#search").click();
                        }
                    });
                    break;
                case 'batchDel':
                    var selectedobjs = table.checkStatus("tablee").data;
                    //刘文涵
                    var ids = selectedobjs.map(function (item) {
                        return item.编号; @* 刘文涵 *@
                    })
                    if (!ids || ids.length <= 0) {
                        return false;
                    }
                    layer.confirm("确认批量删除吗？", function () {

                        layer.load(5, { shade: [0.5, "#5588AA"] });
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("BatchDel")",
                            data: { ids: ids },
                            success: function (result) {
                                layer.closeAll();
                                if (result.Success) {
                                    $("#search").click();
                                    layer.msg(result.Message, { icon: 1 });
                                }
                                else {
                                    layer.msg(result.Message, { icon: 5 });
                                }
                            }
                        })
                    });
                    break;
            }
        }
            )
           table.on("tool(jsTable)", function (obj) {
                var event = obj.event;
                var data = obj.data;
                if (event == "Edit")
                {
                    console.log(data);
                     layer.open({
                         type: 2,
                         content: '@Url.Action("PrizeDetail")?id=' + String(data.编号),/*刘文涵*/
                       title: "修改",
                       area: ["700px", "450px"],
                       end: function () { // layui 关闭弹框时的回调函数
                                $("#search").click();
                            }
                })
                }
                else if (event == "Del") { // 删除
                    var id = data.编号; //刘文涵
                    layer.confirm("确认删除吗？", function () {
                        layer.load(5, { shade: [0.5, "#5588AA"] });
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("Del")",
                            data: { id: id },
                            success: function (result) {
                                layer.closeAll();
                                if (result.Success) {
                                    $("#search").click();
                                    layer.msg(result.Message, { icon: 1 });
                                }
                                else {
                                    layer.msg(result.Message, { icon: 5 });
                                }
                            }
                        })
                    })

                }
           })

     });
    </script>
}